<h1>Список новых публикаций</h1>
<p>{{username}}, предлагаем ознакомиться со списком наших новых публикаций.</p>

{{#each posts}}
  <div class="post">
    <h2>{{title}}</h2>
    <p><strong>Автор:</strong> {{authorId}}</p>
    <p><strong>Published At:</strong> {{publishedAt}}</p>

    {{#if postVideo}}
      <p><strong>Video URL:</strong> {{postVideo.urlYoutube}}</p>
    {{/if}}

    {{#if postLink}}
      <p><strong>Link URL:</strong> {{postLink.url}}</p>
      <p><strong>Description:</strong> {{postLink.description}}</p>
    {{/if}}

    {{#if postQuote}}
      <p><strong>Quote:</strong> {{postQuote.quoteContent}}</p>
    {{/if}}

    {{#if postPhoto}}
      <p><strong>Photo ID:</strong> {{postPhoto.photoId}}</p>
    {{/if}}

    {{#if postText}}
      <p><strong>Announcement:</strong> {{postText.announcement}}</p>
      <p><strong>Content:</strong> {{postText.content}}</p>
    {{/if}}
    <p><strong>Пост опубликован:</strong> {{publishedAt}}</p>
  </div>
{{/each}}

<p>Спасибо, что остаётесь с нами!</p>